*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: light;
    src: url(/fonts/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: regular;
    src: url(/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: bold;
    src: url(/fonts/SourceSansPro-Bold.ttf);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
}

.logo{
    width: 15%;
    margin: 0 7rem;
}

.logo img{
    width: 100%;
}

nav{
    width: 85%;
    margin-top: 1.5rem;
    margin-left: 4.4rem;
}

nav a{
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 18px;
    font-family: regular;
    color: #EEEEEE;
    transition: 0.15s;
}

nav a:hover{
    color: orange;
}

.page1{
    background-image: url(/image/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 10rem 0;
    height: 100vh;
}

.advertising h1{
    margin-left: 7rem;
    font-family: bold;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 3.6rem;
}

.info{
    padding-top: 1.2rem;
}

.page1 p{
    margin-left: 7rem;
    color: #FFFFFF;
    font-family: regular;
    font-size: 15px;
    line-height: 1.6rem;
}

.mouse{
    margin-top: 8rem;
    margin-left: 7rem;
}

.mouse a{
    color: #EEEEEE;
    font-size: 24px;
    padding-right: 10px;
}

.mouse span{
    color: #EEEEEE;
    font-family: regular;
    font-size: 14px;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.left{
    font-size: 32px;
    font-family: bold;
    color: #2D3192;
    margin-left: 7rem;
}

.right{
    margin-top: 1.8rem;
    margin-right: 6.8rem;
}

.right span i{
    margin-left: 2rem;
    font-size: 18px;
    color: orange;
    transition: 0.4s;
}

.right a{
    text-decoration: none;
    font-size: 16px;
    font-family: bold;
    color: #222222;
    border: 3px solid #DFE4EB;
    padding: 14px 24px;
    border-radius: 10px;
    transition: 0.4s;
}

.right a:hover{
    border-color: orange;
}

.right a:hover span i{
    transform: translateX(30%);
}

.body{
    display: flex;
    justify-content: space-evenly;
}

.box{
    width: 30%;
    border: 1px solid silver;
    border-radius: 5px;
    transition: 0.8s;
    margin-bottom: 2rem;
    cursor: pointer;
}

.box .image img{
    width: 100%;
    border-radius: 5px;
    vertical-align: bottom;
}

.text h1{
    font-size: 24px;
    font-family: bold;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
}

.text h6{
    font-size: 18px;
    font-family: light;
    color: #AFAFAF;
    margin-bottom: 2rem;
    padding: 0 1.6rem;
    text-align: center;
}

.body{
    padding: 2rem 5.2rem;
}

.box:hover{
    transform: scale(1.05);
}